.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background-color: #eeeeee; */
  /* background-image: url("../../../Images/Lovepik_com-500667884-social-network-background_edit.jpg"); */
  background-size: cover;
  object-fit: cover;
}

.register-background {
  background-image: url("../../../Images/Lovepik_com-500667884-social-network-background_edit.jpg");
  object-fit: cover;
  background-size: cover;
  transition: all 0.5s ease;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.8) inset;
}

@media screen and (max-width: 992px) {
  .register-background {
    opacity: 0.5;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.4) inset;
  }
}
